body {
  background: #f8e8a6;
  display: block;
  margin: 8px;
}
h1,
p {
  text-align: center;
}
h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
p {
  display: block;
}
footer {
  text-align: center;
  display: block;
}
footer a {
  margin: 0 10px;
  color: green;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
